
<center>
<div class="lista_leitura">
  <div id="<%= dom_id listum %>">
    <p>
      <strong>Nome:</strong>
      <%= listum.nome %>
    </p>
    <p>
      <strong>Tarefa:</strong>
      <%= listum.tarefa %>
    </p>
    <p>
      <strong>Status:</strong>
      <%= listum.status %>
    </p>
    <p>
      <strong>Categoria:</strong>
      <%= listum.categoria %>
    </p>
    <p>
      <strong>Data inicio:</strong>
      <%= listum.data_inicio %>
    </p>
    <p>
      <strong>Data conclusao:</strong>
      <%= listum.data_conclusao %>
    </p>
  </div>
</div>
